*, ::after, ::before {
  box-sizing: border-box;}

:root {
    --color-logo:#4D5AE5;
    --color-backa:#2E2F42;
    --color-new:#e7e9fc;
  }

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-style: normal;
  }
  ul{
	list-style-type: none;
  padding-left: 0; 
  margin: 0;
  }
  
  img {
    display: block;
  }
  main {
    flex-grow: 1;
}
  h1, h2, h3, h4, h5, h6, p { 
    margin-top: 0; 
    margin-bottom: 0; 
}
 .head-nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
 }
  .link{ 
      text-decoration:none;
  }
  .list{
      list-style: none;
      margin: 0;
      padding-left: 0;
  }
  * {
  padding: 0;
  margin: 0;
  border: 0;
}
   /* --Header 3--*/
  .header{
    padding: 24px 0;
    border-bottom: 1px solid var(--color-new);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  .container{
    /*width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;*/
  }
    .container{
    max-width: 428px;
     margin: 0 auto;
    padding: 0 15px 0 15px;
    
    }
    
  .header-nav{
    display: flex; 
    align-items: center; 
  }
  .logo{
      font-family: 'Raleway',sans-serif;
      font-weight: 800;
      font-size: 18px;
      line-height: 1.17;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color:var(--color-logo);
      text-decoration: none;
      margin-right: 76px;
      }
  .logo-primary{
      font-family: 'Raleway';
      font-weight: 800;
      font-size: 18px;
      line-height: 1.17;
      text-transform: uppercase;
      color: var(--color-backa);
      text-decoration: none;
  }

 .address{
      display: flex;
      justify-content: space-between;
 }
 .nav-list{
        display: none;
        gap: 40px;
        padding: 24px 0;

 }
  .header-links{
        color:  #404bbf; ;
        font-family: 'Roboto',sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        line-height: 1.5;
        padding: 24px 0;
        transition:250ms cubic-bezier(0.4, 0, 0.2, 1); 
   
  }
  .header-links:hover,
  .header-links:focus{
    color:#404BBF;
    transition: color 250ms;
  
    
  }

  .active{
    position: relative;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .active::after {
    content: '';
    position: absolute;
    bottom: -1px; 
    left: 0; 
    width: 100%;
    height: 4px;
    background-color: #404bbf; 
    border-radius: 2px; 
 
  }
  .contact-list{
    display: none;
    gap: 40px;
  }
  .contact{
      font-family:'Roboto',sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.02em;
      color: #434455;
      text-decoration: none;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      
    
  }
  .contact:hover,
  .contact:focus{
    color: #404bbf;
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact_list {
    font-style: normal
  }
 
  .mob-menu{
position: fixed;
top:0;
z-index: 2;
width: 100vw;
height: 100vh;
background: #FFF; 
padding-left:40px ;
padding-right: 20px;
padding-top: 24px;
padding-bottom: 40px;
display: flex;
flex-direction: column;
justify-content: space-between;
overflow: auto;
  }
  .close-menu-bt{
    display: block;
    margin-left: auto;
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius:50%;
    cursor: pointer;
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  }

  .close-menu-bt:hover{
    background-color: #4D5AE5;
  }
  .mob-menu-item:not(:last-child) {
    margin-bottom: 40px;
 
  }
.mb-links{
font-size: 36px;
font-family: Roboto;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.72px;
text-transform: capitalize; 
color:  #2E2F42;
  }

  .mb-links:hover,
  .mb-links:focus{
    color:#4D5AE5;
    transition: color 250ms;}

.mb-list{
  padding-top: 80px;
}
  .mb-links{}

  .mb-contact{
  }
  .mb_icon{
    background-color:none;
    border:none;
  }
  .open-mb-bt{
    display: block;
    margin-left: auto;
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    color: var(--background-color-hero-footer);
    transition: background-color 250ms var(--cubic-bezier),
      border 250ms var(--cubic-bezier);
      cursor: pointer;
  }
  .open-mb-bt:hover,
  .open-mb-bt:focus{
    fill: #4D5AE5;
  }
  .contact-mb {
    gap:40px;
  }
  .mb-menu-tel{
    font-size: 36px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize; 
    color:#434455;

  }
 
    .mb-menu-tel:hover,
    .mb-menu-tel:focus{
      color:#4D5AE5;
      transition: color 250ms;}

.mb-menu-mailto {
  color:#434455;
font-size: 20px;
font-family: Roboto;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.4px; 
padding-top: 40px;

}
.contact-mb-mailto{
  padding-top: 40px; 
}
.mb-menu-mailto:hover,
.mb-menu-mailtofocus{
  color:#4D5AE5;
  transition: color 250ms;}

.mb-socialmedia{
  margin-top: 48px;
}
.mb-socialmedia-icon {
  display: flex;
  gap:56px;
}

  /* --Section 2--*/
   .section-second{
    padding-bottom: 96px; }


  .visually-hidden { position: absolute; 
    width: 1px; 
    height: 1px; 
    margin: -1px; 
    border: 0; 
    padding: 0; 
    white-space: nowrap; 
    clip-path: inset(100%); 
    clip: rect(0 0 0 0); 
    overflow: hidden; }


  .main-section{
    padding: 188px 0;
    background: #2E2F42; 
    background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bgmob.png);
    background-repeat: no-repeat; 
    background-size:cover;
    background-position: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    max-width: 1440px;
    margin: 0 auto;
   
   
  }
  @media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
.hero-container {
  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(../images/Dark-bg-mb.png);
}
}
  .main-fon-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px; 
    background-color:#F4F4FD;
    padding: 24px 100px 24px 100px ;
    border: #F4F4FD;
    border-radius: 4px;
      display: none;
    }
  
  .main-fist-section{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    .main-section_text{
      display: flex;
      margin: 0 auto;
      margin-bottom: 72px;
      max-width: 320px;
      font-weight: 700;
      line-height: 1.11;
      text-align: center;
      letter-spacing: 0.02em;
      color: #FFF;
      font-size: 36px;
      text-transform: capitalize;
  
  }

 .main-section_button{
  font-family: "Roboto", sans-serif;
    background: var(--color-logo);
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    border: #4D5AE5;
    text-align: center;
    background-color: #4d5ae5;
    border-radius: 4px; 
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    margin: 0 auto; 
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
 
 
} 
.main-section_button:hover,
.main-section_button:focus {
  background-color: #404BBF;
 align-items: center;
 transition: color 250ms;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
}
.main-section-goal {
      display: flex;
      gap: 24px;
      flex-wrap: wrap;

}
.main-section-list{
  width:100%;
  padding-left: 0;
  
}
.main-section-heading{
      font-family: 'Roboto',sans-serif;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.02em;
      color: var(--color-backa); 
      padding-bottom: 8px; 
      display: flex;
      align-items: center;
      justify-content: center;
      
}
.main-section-heading-paraf{
      font-family: 'Roboto',sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.02em;
}

 /* --Section 3--*/
.images{
  padding-bottom: 120px;
  display: none;
}
.images-title{
      font-size: 36px;
      line-height: 1.11;
      text-align: center;
      margin-bottom: 72px;
      text-transform: capitalize;
      color:var(--color-backa);
      margin-left: auto; 
      margin-right: auto;
}
.images-gadget{
    display: flex;
    gap: 24px;
}
.images-gadget-list{
  width: calc((100% - 48px) / 3);
  padding-left: 0;
}
.team{
    background-color: #F4F4FD;
      margin: 0 auto;  
      padding: 120px 0;  
}
.our-team-list{
  display: flex; 
  gap: 24px;
}
.our-team{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    margin-bottom: 72px;
    margin-top: 120px;
    letter-spacing: 0.02em;
    color:var(--color-backa);
    text-transform: capitalize;
    margin-left: auto; 
    margin-right: auto;
}
.employee{ 
  padding: 32px 0;
}
.team-head{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
    color: var(--color-backa);
    line-height: 1.2;
    margin-bottom: 8px;
    text-align: center;
    
}
.team-paraf{
    font-family:'Roboto',sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
    text-align:center;
}
.team-img{
  background-color: #FFFFFF;
  width: 100%;
  height: auto;
}

.team-information{
    display: flex;
    gap: 24px;  
    flex-wrap: wrap;
  }


  .team-info-link{
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    margin-bottom:120px;
    /*width: calc((100% - 72px) / 4);*/
    padding-left: 0;
    width:100%;
    
  }
.team-block-pad{
  padding: 32px 0;
}
  .team-block-icon{
    display: flex;
    justify-content: center;
    gap:24px;
    padding-top:8px ;
   }

 .team-block-media{
  background-color: #4D5AE5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 50%;
  border: 1px solid #4D5AE5;

  transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  
 }
 
 .team-block-media:hover,
 .team-block-media:focus {
  background-color:#404BBF;
  color: #404bbf; 
 }
  .team-block-svg{
    fill:#f4f4fd;

  }
  
  /* --Section 5--*/

.customers-title{
text-align: center;
font-weight: 700;
font-size: 36px;
line-height: 40px;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
margin-left: auto; 
margin-right: auto;
padding-top: 120px;
margin-bottom: 72px;
line-height: 1.11;
}

.customers-icon-logo{
padding: 16px 32px;
width: 100%;
  height: 100%;
  border: 1px solid #8E8F99;
  border-radius: 4px;
  display: flex;
  align-items:center;
  justify-content: center;;
  color: #8e8f99;
  transition : border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
  .customers-icon-logo:hover,
  .customers-icon-logo:focus{
    border-color: #404bbf;  
    color: #404bbf; 

}

.customers{
 padding-bottom: 96px;
}

.customers-icon{
  margin-left: auto;
  margin-right: auto;
  height:88px;
  /*width:  calc((100% - 120px) / 6);*/
  transition: color 250ms;
  width: calc((100% - 32px) / 2);
}

.customers-item{
  display: flex;
  gap: 24px;  
  flex-wrap: wrap;
}
.customers-pict{
  fill: currentColor;
}
.customers-pict:hover,
.customers-pict:focus{
  fill: #4D5AE5;
  stroke:#4D5AE5;
}

 /* --footer--*/

 .footer{
  background: var(--color-backa);
  padding: 96px 0;
}
.footer-container{
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
  justify-content: center;
}
.subscribe-class {
  margin-top: auto;
}

.logo-footer{
  display: inline-block;
  margin-bottom: 16px; 
  align-items:center;



}

.footer-paraf{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}
.logo-primary-foter{
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
color: #F4F4FD;

}
.socialmedia-title{
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
padding-bottom: 16px;
line-height: 1.5;
letter-spacing: 0.02em;

}
.socialmedia {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: right;


}
.socialmedia-block-icon{
  display: flex;
  gap: 16px;
}
.subscribe{
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #FFFFFF;
}

.form-subscribe{
display: flex;
gap: 24px;
padding-top: 16px;
flex-direction: column; 
align-items: center;



}
.subscribe-class{
  display: flex;
  flex-direction: column;
  
}
.subscribe-label{
display: flex;
flex-direction: column;
}
.subscribe-input{
width: 264px;
height: 40px;
padding-left: 16px;
background-color: inherit;
border: 1px solid #ffffff;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
font-family: "Roboto";
font-style: normal;
line-height: 1.5;
letter-spacing: 0.04em;
font-weight: 400;
font-size: 12px;
color: #ffffff;

}
.subscribe-input::placeholder{
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #ffffff; 
  }
.subscribe-button{
  display: flex;
justify-content: center;
align-items: center;
padding: 8px 24px;
bottom: 42.31%;
background: #4D5AE5;
border-radius: 4px;
color: #FFFFFF;
font-family: "Roboto", sans-serif;
line-height: 1.5;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.04em;
cursor: pointer;
border-color:#4D5AE5;
border-radius:4px;
min-width: 165px;
height: 40px;
border: none;

}
.subscribe-label{
gap:24px;
}
.subscribe-button:hover,
.subscribe-button:focus{
  border-color: #404BBF;
  border-radius: 4px;
  color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-subscribe-svg{
  margin-left: 16px;
}

/* --portfolio--*/
.address{
  font-style: normal;
  justify-content: center;
}
.portfolio{
  padding: 96px 0 120px 0;
}
.portfolio_list{
  display: flex;
  justify-content: center;
  gap: 24px; 
  margin-bottom: 72px;

}
.portfolio-link{
  display: block; 
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.portfolio-link_list{
  padding: 32px 16px;
  border: 1px solid var(--color-new);
  border-top: none; 
  margin-bottom: 8px;
}
.heading-button{
    background-color:  #F4F4FD;
    border: 1px solid var(--color-new);
    color:  #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 12px 24px 12px 24px;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}
.heading-button:hover,
.heading-button:focus {
    background-color: #404BBF;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid transparent;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    border-radius: 4px;
     transition: color 250ms;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
     box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12); 

    }

  .team_list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }
.team_list_list{
  width: calc((100% - 48px) / 3);
  padding-left: 0;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}

.work-img-overflow{ 
  position: relative; 
  overflow: hidden; 
}
.portfolio-link:hover .team_list-block-text,
.portfolio-link:focus .team_list-block-text{
  transform: translateY(0%);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team_list-block-text{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4d5ae5;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em; 
  color: #f4f4fd; 
  padding: 40px 32px; 
}
  

.team-heading{
  font-family: 'Roboto'.sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--color-backa);
  line-height: 1.2;
  margin-bottom: 8px;
  text-align: left;
  
}
.team-pr{
  font-family:'Roboto',sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
  text-align:left;
}

.socialmedia-block-media{
  background-color: #4D5AE5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 50%;
  border: 1px solid #4D5AE5;
  width: 100%;
  height: 100%;
  transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 .socialmedia-block-media:hover,
 .socialmedia-block-media:focus {
  background-color: rgba(49, 208, 170, 1);
}

.backdrop{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

  .modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-height:584px ;
    width:320px ;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px; 
  }
  .modal-btn{
    position: absolute;
      right: 24px;
      top: 24px;
      width: 24px;
      height: 24px;
      background: #E7E9FC;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius:50%;
      cursor: pointer;
      display: flex;
      align-items:center;
      justify-content: center;
      padding: 0;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    
    }
    .modal-btn:hover,  
    .modal-btn:focus{
      fill: #ffffff;
      background-color: #404bbf; 
      border: none;
    } 
    
    .button_icon{
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


.is-hidden{
  visibility:hidden;
  opacity:0;
  pointer-events:none;
}
.name-form{
  margin-bottom: 8px;
}
.form-paraf{
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #2E2F42;
text-align: center;
margin-bottom: 16px;
}
.form{
  display: flex;
  flex-direction: column;
  padding: 8px;
  max-width: 360px;

}
.wrap-form{
  position: relative;
  margin-bottom: 8px;
}

.form-block-svg{
  position: absolute;
  transform: translateY(-50%); 
  top:50%;
  left: 16px;
  color:#2E2F42;
  stroke: #2E2F42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.form-block-svg:hover{
  stroke:#4D5AE5;
  fill: #4D5AE5;
}
.form-input:focus + .form-block-svg {
  fill:   #4D5AE5;

  }




.form-label{
display: flex;
flex-direction: column;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.04em;
line-height: 1.17;
color: #8e8f99;
display: block; 
margin-bottom: 4px;


}

.form-input{
  position: relative;
  border:1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  display: block;
  margin: 8px 0px 8px 0px;
  padding-left: 38px;
  outline: transparent;
  border-color: 300ms linear;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
  background-color: transparent; 
}

.form-input:hover,
.form-input:focus{
  border-color: #4D5AE5;
  border-radius: 4px;
  color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.textarea-cnt{
  margin-bottom: 16px;
}
.form-textarea{
  width: 100%; 
  border:1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  height: 120px;
  display: block;
  resize: none;
  padding-top: 8px;
  padding-left: 16px;
  font-size: 12px;
  line-height: 1.17; 
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent; 
  outline: transparent;
  resize: none; 
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea:hover,
.form-textarea:focus{
  border-color: #4D5AE5;
  border-radius: 4px;
  color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea::placeholder{
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.form-button{
  text-align: center;
  font-weight: 500;
  background-color: #4d5ae5;
  border-radius: 4px; 
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  margin: 0 auto; 
  transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  color: #FFFFFF;
  margin-top: 24px;
  margin-bottom: 24px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  
}
.form-button:hover,
.form-button:focus {
  background-color: #404BBF;
 align-items: center;
 transition: color 250ms;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-form{
  margin-bottom: 24px;
}
.agree-form{
font-weight: 400;
font-size: 12px;
line-height:  1.17;
letter-spacing: 0.04em;
color: #8E8F99;
cursor: pointer;
align-items:center;
}
.agree-form {
font-weight: 400;
font-size: 12px;
line-height: 16px;
letter-spacing: 0.04em;
text-decoration-line: underline;
color: #4D5AE5;
padding-left: 8px;
text-decoration: underline;
}
.checkbox-span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent; 
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4); 
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  .checkbox:checked + .agree-form span{
  background: #404bbf;
  border: none;
  fill:#F4F4FD; 
}

.checkbox-link{
  text-decoration: underline;
}


/* Mobile*/
@media screen and (min-width: 320px){

  .main-section-heading{
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
  }
  .main-section-list{
    margin-top: 72px;
  }
}
/*Tablet*/

@media screen and (min-width: 768px){
  .container{
    max-width: 768px;
   padding-right: 16px;
    padding-left: 16px;
  }

  .main-section-list{
    width:  calc((100% - 48px) / 2);
    margin-left: auto;
    margin-right: auto;
    gap:24px;
  }
  .main-section-heading{
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    padding: 8px;
  }
  .container-team{
    max-width: 584px;
  }
  .team-information{
    gap:24px;
  }

  .team-info-link{
    max-width: unset;
    width: calc((100% - 48px) / 2);
  }
  .customers-icon{
    margin-left: auto;
    margin-right: auto;
    height:88px;
    width:  calc((100% - 120px) / 3);
    transition: color 250ms;
  }
  .images{
    padding-bottom: 120px;
    display: none;
  }
  
  
   .main-section{
    padding: 188px 0;
    background: #2E2F42; 
    background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-tab.png);
    background-repeat: no-repeat; 
    background-size:cover;
    background-position: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    max-width: 1440px;
    margin: 0 auto;
    
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-container {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../images/Dark-tab.png);
  }
}
  .main-section_text{
    display: block;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 72px;
  font-size: 56px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px; 
  max-width:496px; 
  margin-left: auto; 
  margin-right: auto;

}
.footer{
  padding: 96px 0;
}

.footer-container {
  display: flex;
    justify-content: flex-start;
    margin-left: 108px;
    flex-wrap: wrap;
}
.form-subscribe {
  display: flex;
  gap: 24px;
  flex-direction: row;

}
.subscribe {
  text-align: start; }

.socialmedia-title{
  text-align: start;
}
.address{
  display: flex;
  justify-content: space-between;
}

.socialmedia{
  margin: 0;
  text-align: unset;
}
.nav-list{
    display: flex;
    gap: 40px;
    padding: 24px 0;

}
.header-links{
    color:  #404bbf; ;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    padding: 24px 0;
    transition:250ms cubic-bezier(0.4, 0, 0.2, 1); 

}
.header-links:hover,
.header-links:focus{
color:#404BBF;
transition: color 250ms;

}

.active{
position: relative;
transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active::after {
content: '';
position: absolute;
bottom: -1px; 
left: 0; 
width: 100%;
height: 4px;
background-color: #404bbf; 
border-radius: 2px; 

}
.contact-list{
display: flex;
gap: 40px;
}
.contact{
  font-family:'Roboto',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  

}
.contact:hover,
.contact:focus{
color: #404bbf;
transition: color 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.open-mb-bt{
  display: none;
}
.modal{

  min-height:584px ;
  width:408px ;
}
.contact-list{
  display: flex;
  flex-direction: column;
  gap: 12px 40px;
font-style: normal
}

}


    /*desktop*/

@media screen and (min-width: 1158px) {

  .container{
    max-width:  1158px;
    padding-right: 16px;
    padding-left: 16px;
  }
  .header {
    padding: 24px 0;
  }
  .main-section-list{
    width:  calc((100% - 72px) / 4);
 
  }
  .main-section-goal {
    gap: 24px;
}
.main-section-heading{
  font-family: 'Roboto',sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--color-backa); 
  padding-bottom: 8px; 
  
}
.main-fon-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  margin-bottom: 8px; 
  background-color:#F4F4FD;
  padding: 24px 100px 24px 100px ;
  border: #F4F4FD;
  border-radius: 4px;

  }
  .team-info-link{
  width: calc((100% - 72px) / 4);
}

.customers-icon{
  margin-left: auto;
  margin-right: auto;
  height:88px;
  width:  calc((100% - 120px) / 6);
  transition: color 250ms;
}
.desktop-visible{
  display: block;
}
.main-section{
  padding: 188px 0;
  background: #2E2F42; 
  background-image: linear-gradient(
    to bottom,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office_1.jpg);
  background-repeat: no-repeat; 
  background-size:cover;
  background-position: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
.hero-container {
  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(../images/people-office-main.png);
}
}
.main-section_text{
  display: block;
  text-align: center;
font-weight: 700;
font-size: 56px;
line-height:60px;
color: #FFFFFF;
letter-spacing: 0.02em;
line-height: 1.07;
max-width: 496px; 
margin-left: auto; 
margin-right: auto;
margin-bottom: 72px;}


.footer{
  padding: 96px 0;
}

.footer-container {
  display: flex;
    justify-content: flex-start;
    margin-left: 108px;
    flex-wrap: wrap;
}
.form-subscribe {
  display: flex;
  gap: 24px;
  flex-direction: row;

}
.subscribe {
  text-align: start; }

.address{
  display: flex;
  justify-content: space-between;
}
.nav-list{
    display: flex;
    gap: 40px;
    padding: 24px 0;

}
.header-links{
    color:  #404bbf; ;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    padding: 24px 0;
    transition:250ms cubic-bezier(0.4, 0, 0.2, 1); 

}
.header-links:hover,
.header-links:focus{
color:#404BBF;
transition: color 250ms;


}

.active{
position: relative;
transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active::after {
content: '';
position: absolute;
bottom: -1px; 
left: 0; 
width: 100%;
height: 4px;
background-color: #404bbf; 
border-radius: 2px; 

}
.contact-list{
display: flex;
flex-direction: row;
gap: 40px;
}
.contact{
  font-family:'Roboto',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  

}
.contact:hover,
.contact:focus{
color: #404bbf;
transition: color 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact_list {
font-style: normal
}
.open-mb-bt{
  display: none;
}
.modal{

  min-height:584px ;
  width:408px ;
}
}